@model ShopOnline.Commond.UserSession
<div class="account_desc">
    <ul>
        <li><a href="/login" target="_self">Login</a></li>
        <li><a href="/register" target="_blank">Register</a></li>
        @if (Model != null)
        {
            <li>Hello, @Model.Username,<a href="/logout" target="_self">Logout?</a></li>
        }
    </ul>
</div>
